.login_header
{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    z-index: 1;
    position: fixed;
}
.erji_header
{
    height:45px;
    width: 100%;
    line-height: 45px;
    background-color: #fff;
}
.goto_center
{
    text-align: center;
}
.goto_right
{
    text-align: right;
}
.goto_left
{
    text-align: left;
}
.img_logo
{
    height: 35px;
    display: inline-block;
    margin-top: 5px;
}
.return_span
{
    font-size: 28px;
    color: #21C5C7;
    margin-left: 20px;
}